<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RabbitMQ"
         connectionString="host=39.108.177.237:5672;virtualHost=/;username=admin;password=admin"/>
    <add name="ClientName"
         connectionString="岳阳东"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
